@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "../../shared/base.css";

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
